h3{
	font-size: 2rem;
	line-height: 1.8;
	font-weight: 400;
	font-family: Roboto, sans-serif;
}

body {
  position: relative;
}

.correct {
	color: green;
}
.wrong {
	color: red;
}

.img-thumbnail {
	width: 20%;
	height: 20%;
	display: inline-block;
	background-color: inherit;
	border:none;
}
.panel-title > a {
	display: block;
}
#modulelist {
	text-align: center;
	padding-top: 20px;
}
.fab {
	position: fixed;
	bottom:0;
	right: 0;
	text-align: end;
}
.fab > img {
	height: 30%;
	width: 30%;
}
#worksubmission {
	background-color: #2BBBAD;;
	color: white;
}



.thumbnail {
  background-color: rgba(255, 255, 255, 0);
  border:none;
}
.video-container {
  background-color: inherit;
}

.video-container > a > img {
	height:10%;
	width:10%;
}


.card-content, .panel-body {
font-size: 1.5rem;
line-height: 1.8;
font-weight: 500;
font-family: Roboto, sans-serif;
}
ol.nav-pills {
position: fixed;
}
ol.nav-pills li a {
padding-top: 2px;
padding-bottom: 2px;
}
.modulelist{
 font-size: 1rem;
line-height: 1.8;
font-weight: 400;
font-family: Roboto, sans-serif; 
}
  

.panel-heading h3 {
    margin-top: 0px;
    margin-bottom: 0px;
}
  #custom-bootstrap-menu.navbar-default .navbar-brand {
    color: rgba(250, 250, 250, 1);
}
#custom-bootstrap-menu.navbar-default {
    font-size: 14px;
    background-color: rgba(0, 0, 0, 1);
    border-width: 0px;
    border-radius: 0px;
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(248, 248, 248, 0);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>li>a:focus {
    color: rgba(250, 250, 250, 1);
    background-color: rgba(9, 44, 158, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:hover,
#custom-bootstrap-menu.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgba(4, 29, 219, 1);
}
#custom-bootstrap-menu.navbar-default .navbar-toggle {
    border-color: #041ddb;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus {
    background-color: #041ddb;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle .icon-bar {
    background-color: #041ddb;
}
#custom-bootstrap-menu.navbar-default .navbar-toggle:hover .icon-bar,
#custom-bootstrap-menu.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #000000;
}
